.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: #ff9945;
    width: 300px;
    height: 100px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 48px;
}

button:hover {
    cursor: pointer;
    background-color: #eb8b3c;
}

.btn_cont {
    display: flex;
    flex-direction: column;
}

.cash {
    margin-bottom: 120px;
    font-size: 54px;
}
